form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }
  
  label {
    margin: 1em 0;
  }
  
  input[type="text"], input[type="number"] {
    margin-left: 1em;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  button {
    background-color: #ffdd57;
    color: #333;
    border: none;
    border-radius: 3px;
    margin-left: 1em;
    cursor: pointer;
  }
  
  input[type="submit"] {
    background-color: #61dafb;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    margin-top: 2em;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #52c3d3;
  }
  
  button:hover {
    background-color: #eecc44;
  }
  
  .character-form-container {
    background-image: linear-gradient(to bottom, rgba(111, 116, 122, 0.8), rgba(163, 146, 146, 0.8)), url("https://cdnb.artstation.com/p/assets/images/images/045/473/937/large/gokhan-kahraman-early-character-creation-background-concept-01.jpg?1642790132");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: none;
    width: stretch;
    height: 835px;
  }